<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Dungeon Master Tools</span>
      <a class="d-flex align-items-center text-muted" href="#">
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link"  uiSref="frontpage" uiSrefActive="active">
          <i class="fas fa-columns"></i>
          Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" uiSref="campaigns" uiSrefActive="active">
          <i class="fab fa-d-and-d"></i>
          Campaigns
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-d-and-d"></i>
          Characters
        </a>
      </li>
<!--       <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-d-and-d"></i>
          NPCs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-d-and-d"></i>
          Monsters
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-d-and-d"></i>
          Traps
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-d-and-d"></i>
          Combat Tracker
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-d-and-d"></i>
          Encounters
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-d-and-d"></i>
          Social Encounter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-d-and-d"></i>
          Quest
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-d-and-d"></i>
          Equipment
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-d-and-d"></i>
          Soundboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-d-and-d"></i>
          Generators
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-d-and-d"></i>
          Journal
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-d-and-d"></i>
          Timeline
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-d-and-d"></i>
          Places
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-comments"></i>
          Chat
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-calendar-alt"></i>
          Calendar
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-d-and-d"></i>
          Dice
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-d-and-d"></i>
          Orginations / Factions
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-d-and-d"></i>
          Minitures / Terrain Catalog
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-d-and-d"></i>
          Diagram
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-map"></i>
          Maps
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-d-and-d"></i>
          Pools / Doodles
        </a>
      </li> -->
    </ul>

  </div>
</nav>
