<nav class="navbar  navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/brand/brand.png" width="30" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Nyheder<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Steder</a>
      </li>
      <li class="nav-item" ngbDropdown >
        <a class="nav-link" ngbDropdownToggle href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
        <div ngbDropdownMenu  aria-labelledby="navbarDropdown">
          <a class="dropdown-header">Steder</a>
          <a class="dropdown-item" href="#">Vis Steder</a>
          <a class="dropdown-item" href="#">Opret Sted</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-header">Profil</a>
          <a class="dropdown-item" href="#">Vis Profiler</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-header">Andet</a>
          <a class="dropdown-item" href="#">Test #1</a>
          <a class="dropdown-item" href="#">Test #2</a>
        </div>
      </li>
    </ul>
  </div>
</nav>