<div>
        <h2>Mine steder</h2>
        <ul class="places">
                <li *ngFor="let p of places" (click)="onSelect(p)">
            <span class="badge">{{p.id}}</span> {{p.name}}
          </li>
        </ul>

<hr>
    <h2>{{ selectedPlace.name | uppercase }} Details</h2>
    <div><span>Id: </span>{{selectedPlace.id}}</div>
    <div><span>Navn: </span>{{selectedPlace.name}}</div>
    <div><span>Latitude: </span>{{selectedPlace.latitude}}</div>
    <div><span>Longitude: </span>{{selectedPlace.longitude}}</div>
<br>
    <label>Navn:
            <input [(ngModel)]="selectedPlace.name" placeholder="name">
      </label>
</div>
