<div class="card">
  <img class="card-img-top" src="{{Place.imgSource}}" alt="{{ Place.name | uppercase }}">
  <div class="card-body">
    <h6 class="card-title">{{ Place.name | uppercase }}</h6>
    <p>blah blah blah</p>
    <div class="row">
      <div class="col">
        <p class="card-text"><img src="../../assets/svg/star.svg" height="15px" alt="icon name"> 5,3 </p>
      </div>
      <div class="col">
        <a href="#" class="btn btn-success btn-sm">Reviews</a>
      </div>
      <div class="col">
        <a href="#" class="btn btn-dark btn-sm"><img src="../../assets/svg/globe5.svg" height="15px" alt="icon name"></a>
      </div>
    </div>
  </div>
</div>
